.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.empty-name {
    color: #fff;
}

.emty-status,
.empty-info {
    padding: 1rem;
}

.empty-status {
    color: rgba(255, 255, 255, .9);
    border-bottom: 1px solid rgba(255, 255, 255, .7);
}

.empty-img {
    border-radius: 50%;
    margin: 2rem 0;
}

.empty-btn {
    padding: 1rem;
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 30px;
    outline: none;
}

.empty-btn:hover {
    background: rgba(255, 255, 255, .7);
    cursor: pointer;
}