.sidebar {
    width: 80px;
    background: rgba(32, 32, 35, 1);
    height: 100%;
    border-right: 1px solid rgba(189, 189, 192, .1);
    transition: width .3s;
}

@media (min-width: 576px) {
    .sidebar {
        width: 320px;
    }
}