#root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

.App {
  height: 100%;
  display: flex;
  color: rgba(189, 189, 192, 1);
}

@import './styles/sidebar.css';
@import './styles/main.css';
@import './styles/user.css';
@import './styles/empty.css';
@import './styles/header.css';
@import './styles/chatWindow.css';
@import './styles/messages.css';
@import './styles/messageInput.css';